a{
    text-decoration: none;
}

.menu-item {
    cursor: pointer;
    color:white;
}

.menu-item:hover {
    color: gray;
}

svg {
    font-size: 3rem;
}

h3{
    margin: 0;
}

nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 40rem;
}

#main-app.title-only #menu {
    display: none;
}