<div class="create">
  <h1>Create An Account</h1>
  <br>
  <form novalidate class="simple-form">
    <label>
      <input placeholder="Email" type="email" #email />
    </label>
    <br>
    <label>
      <input placeholder="Password" type="password" #password1 />
    </label>
    <br>
    <label>
      <input placeholder="Repeat Password" type="password" #password2 />
    </label>
    <br>
    <br>
    <br>
    <a [routerLink]="['/login']">
      Already have an account?
    </a>
  </form>
  <button (click)="register(email.value, password1.value, password2.value)">Create</button>
</div>