/* You can add global styles to this file, and also import other style files */
html {
    font-size: 62.5%; /* Now 10px = 1rem! */
}

body{
    background: linear-gradient(#2ea0c2, #0b1d3a);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

h1{
    color: white;
}

input{
    padding-left: .5rem;
    border-radius: 1rem;
    height: 4rem;
    width: 90%;
    max-width: 30rem;
    margin-top: 2rem;
    border: none;
}

nav#menu{
    margin-top: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
.menu-item:focus {
    outline: none;
}